<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-jms="http://www.springframework.org/schema/integration/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/integration
            http://www.springframework.org/schema/integration/spring-integration.xsd
            http://www.springframework.org/schema/integration/jms
            http://www.springframework.org/schema/integration/jms/spring-integration-jms.xsd">

	<bean id="jmsContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="channelOut" />
		<property name="messageListener" ref="messageListener" />
	</bean>

	<bean id="connectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
		<property name="targetConnectionFactory">
			<bean class="org.apache.activemq.ActiveMQConnectionFactory">
				<property name="brokerURL" value="${activemq.url}" />
			</bean>
		</property>
		<property name="sessionCacheSize" value="10" />
		<property name="cacheProducers" value="false" />
	</bean>


	<bean id="channelOut" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="queue.reply"/>
	</bean>
	
	<int:poller id="poller" default="true" fixed-delay="1000"/>

	<bean id="messageListener" class="au.com.redboxresearchdata.harvester.test.rig.jms.HarvestListener" />
	
	<bean id="placeholderProperties" class="au.com.redboxresearchdata.util.config.ConfigSlurperPlaceholderConfigurer">
		<property name="environment" value="#{systemProperties['environment']}"/>
		<property name="defaultEnvironment" value="production" />
		<property name="location" value="#{systemProperties['runtime.config.file']}" />
	</bean>
</beans>
