<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:amq="http://activemq.apache.org/schema/core"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
        http://activemq.apache.org/schema/core
        http://activemq.apache.org/schema/core/activemq-core.xsd">

    <amq:broker id="brokerMonitor" dataDirectory="${activemq.dataDirectory}" persistent="false">
        <amq:transportConnectors>
            <amq:transportConnector uri="${activemq.url}"/>
        </amq:transportConnectors>
    </amq:broker>

</beans>